<!-- importing the header -->
<%- include('partials/header') -%>
    <div class="container mt-5 w-50">
        <h3 class="mb-4">
            Add New Employee
        </h3>

        <form action="">
            <input type="text" name="name" class="form-control mb-3" placeholder="Employee Name" >

            <input type="text" name="designation" class="form-control mb-3" placeholder="Employee Designation">

            <input type="text" name="salary" class="form-control" placeholder="Employee Salary">

            <button type="submit" class="btn btn-primary btn-block mt-3 p-2">Add To Database</button>
        </form>
    </div>


<!-- importing the footer -->
<%- include('partials/footer') -%>
