<!-- importing the header -->
<%- include('partials/header') -%>
    <div class="container mt-5 w-50">
        <h4 class="mb-4">
            Add New Employee
        </h4>

        <form action="">
            <input type="text" name="fname" class="form-control mb-2" placeholder="FirstName" >

            <input type="text" name="lname" class="form-control mb-1" placeholder="LastName" >

            <input type="email" name="email" class="form-control mb-2" placeholder="Email" >

            <input type="text" name="designation" class="form-control mb-2" placeholder="Designation">

            <input type="text" name="salary" class="form-control mb-2" placeholder="Salary">

            <button type="submit" class="btn btn-primary btn-block mt-3 ">Add To Database</button>
        </form>
    </div>


<!-- importing the footer -->
<%- include('partials/footer') -%>
